*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
}
h1{
    text-align: center;
    margin: 20px 0;
    font-size: 1.75em;
}

.container > .section{
    float: left;
}

.section{
    float: left;
    padding: 10px;
}
.content{
    position: relative;
    padding: 40px 10px 10px 10px;
    background-color: #8D99AE;
    border: 1px solid black;
}
.content > h3{
    color: #D5B9B2;
    position: absolute;
    border: 1px solid black;
    right:-1px;
    top:-1px;
    font-size: 1.75em;
    padding: 0px 30px;
}
.content > p {
    color: #2B2D42;
    font-size: 1.25em;
    text-transform: lowercase;
}
.container .section:nth-child(1) h3{
    background-color: #13293D;
}
.container .section:nth-child(2) h3{
    background-color: #FF9F1C;
    color: #011627;
}
.container .section:nth-child(3) h3{
    background-color: #5B3723;
}

@media (min-width: 992px){
    .section{
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section{
        width: 50%;
    }
    .section:nth-child(3){
        width: 100%;
    }
}
@media (max-width: 767px){
    .section{
        width: 100%;
    }
}